.mainContainer {
  display: grid;
}
.empForm {
  width: 70%;
  height: 88%;
  margin-top: 4%;
  margin-left: 15%;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
.title {
  color: black;
  margin-top: 1%;
  font-size: 1.6em;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: auto;
  grid-template-areas:
    "photo about"
    "photo about"
    "photo about";
}

.proImg {
  grid-area: photo;
}
.proInfo {
  grid-area: about;
  margin: 4%;
  width: 95%;
}

.proImg img {
  width: 80%;
  margin: 10% 0% 30% 10%;
  border-radius: 60%;
}

.objective {
  color: black;
  margin-top: 1%;
  font-size: 1.4em;
}

.compName {
  color: #0062cc;
  font-size: 1em;
}

.about {
  display: grid;
  margin-top: 7%;
  grid-template-columns: 1fr 1fr;
}

.var {
  font-size: 1em;
  font-weight: 600;
  float: left;
}

.val {
  color: #0062cc;
  font-size: 1em;
  font-weight: 600;
}

.logout {
  text-align: center;
  margin-left: 77%;
  width: 8%;
  height: 50%;
}

.info {
  width: 70%;
  padding: 5% 0%;
  text-align: justify;
}

.infoText {
  font-size: 1.1vw;
  padding-bottom: 4%;
}

.btns {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: center;
  padding: 0% 15%;
}

.btn {
  margin: 1%;
}
