.container {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.empInfo {
  display: flex;
  width: 90%;
  height: 220px;
  border-radius: 16px;
  border-top-left-radius: 105px;
  border-bottom-left-radius: 105px;
  overflow: hidden;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.empImg {

}

.fio {
  color: #0062cc;
  font-size: 1.9em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.gender, .education, .contact {
  display: flex;
  justify-content: space-between;
}

.gender {
  font-size: 1.2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.empInfoText {
  width: 100%;
  padding: 20px;
}

.education {
  font-size: 1.2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.contact {
  font-size: 1.2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
