.title {
  color: black;
  margin-top: 1%;
  font-size: 1.6em;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0px auto;
}

.vacContainer {
  float: left;
  width: 48%;
  margin: 2% 0% 2% 2%;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
    margin: 2% 0% 2% 10%;
  }
}

.vacancyInfoContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 90%;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  font-family: "Franklin Gothic Medium", sans-serif;
  font-weight: normal;
}

.vacancyImg {
  width: 100%;
}

.vacancyFullInfo {
  padding: 2%;
  text-align: left;
}

.objective {
  font-size: 1.4rem;
  padding-bottom: 2%;
}

.compAdress {
  color: #6b7886;
  font-size: 0.8rem;
  padding-bottom: 1%;
}

.vacancyInfo,
.expEmp {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  line-height: 1.4;
}

.salary {
  float: right;
  font-size: 1.3rem;
  padding: 3%;
}
