.container {
  width: 100%;
  margin-bottom: 40px;
}

.vacancyInfoContent {
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  font-family: "Franklin Gothic Medium", sans-serif;
  padding: 15px;
}

.vacancyImg {
  width: 100%;
}

.vacancyFullInfo {
  width: 100%;
  margin-left: 20px;
  text-align: left;
  padding-right: 40px;
}

.objective {
  font-size: 1.7rem;
  padding-bottom: 5px;
}

.compAdress {
  color: #6b7886;
  font-size: 0.9rem;
  padding-bottom: 5px;
}

.vacancyInfo,
.expEmp {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
  line-height: 1.4;
}

.salary {
  float: right;
  font-style: italic;
  font-weight: 800;
  font-size: 1.4rem;
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}
