.header {
  grid-area: h;
  background-color: #111111;
  box-sizing: border-box;
  width: 100%;
  border-bottom: solid #535353a6 1.8px;
}

.container {
  max-width: 1980px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.logo {
  color: white;
  text-align: center;
  text-align: left;
  padding-left: 20%;
  font-size: 2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.login {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media screen and (max-width: 1030px) {
  .login {
    display: none;
  }
}

.loginText {
  background-color: black;
  border: black;
  font-size: 1.1em;
  color: white;
}
.companyIcon {
  float: right;
  width: 35%;
  margin-right: 10%;
}

.userIcon {
  float: right;
  width: 20%;
  margin-right: 15%;
}
