.header {
  position: fixed;

  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  background-color: #111111;
  border-bottom: solid #535353a6 1.8px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

.logo {
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  font-family: 'MuseoSansCyrl', sans-serif;
  transition: transform 1s ease-in-out;
}

.logo:hover {
  transition: transform 1s ease-in-out;
  transform: rotate(-30deg) scale(1.1);
}

.login {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  font-family: 'MuseoSansCyrl', sans-serif;
}

@media screen and (max-width: 1030px) {
  .login {
    display: none;
  }
}

.loginText {
  background-color: black;
  border: black;
  font-size: 1.1em;
  font-weight: 600;
  color: white;
}
.companyIcon {
  float: right;
  width: 35%;
  margin-right: 10%;
}

.userIcon {
  float: right;
  width: 20%;
  margin-right: 15%;
}
