.mainContainer {
  display: flex;
  justify-content: center;

  padding-top: 40px;
}
.cmpForm {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}


.container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: auto;
  grid-template-areas:
    "photo about"
    "photo about"
    "photo about";
}

.proImg {
  grid-area: photo;
}
.proInfo {
  grid-area: about;
  padding: 5px;
  padding-right: 40px;
}

.proImg img {
  width: 80%;
  margin: 10% 0% 30% 10%;
  border-radius: 60%;
}

.cmpName {
  color: black;
  font-size: 1.4em;
}

.businesstype {
  color: #0062cc;
  font-size: 1em;
}

.about {
  display: grid;
  margin-top: 30px;
  grid-template-columns: 1fr 1fr;
}

.var {
  font-size: 1.1em;
  font-weight: 600;
  font-family: 'MuseoSansCyrl', sans-serif;
  float: left;
}

.val {
  color: #0062cc;
  font-size: 1.1em;
  font-weight: 600;
  font-family: 'MuseoSansCyrl', sans-serif;
}

.var div, .val div {
  margin-bottom: 5px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  padding: 0% 15%;
}

.btn {
  margin: 1%;
}

b.vip {
  font-size: 1rem;
  color: #ff9500;
}

.info {
  padding: 40px 0;
  text-align: justify;
}
