.mainContainer {
  display: grid;
  grid-template-rows: 3fr 100px;
}
.cmpForm {
  width: 70%;
  height: 85%;
  margin-top: 4%;
  margin-left: 15%;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
.title {
  color: black;
  margin-top: 1%;
  font-size: 1.6em;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: auto;
  grid-template-areas:
    "photo about"
    "photo about"
    "photo about";
}

.proImg {
  grid-area: photo;
}
.proInfo {
  grid-area: about;
  margin: 4%;
  width: 95%;
  height: 95;
}

.proImg img {
  width: 80%;
  margin: 10% 0% 30% 10%;
  border-radius: 60%;
}

.cmpName {
  color: black;
  margin-top: 1%;
  font-size: 1.4em;
}

.businesstype {
  color: #0062cc;
  font-size: 1em;
}

.about {
  display: grid;
  margin-top: 5%;
  grid-template-columns: 1fr 1fr;
}

.var {
  font-size: 1em;
  font-weight: 600;
  float: left;
}

.val {
  color: #0062cc;
  font-size: 1em;
  font-weight: 600;
}

.btns {
  display: flex;
  width: 25%;
  height: 50%;
  text-align: center;
  margin-left: 69%;
}

.btn {
  margin: 0% 3%;
}

b.vip {
  font-size: 1rem;
  color: #ff9500;
}

.info {
  width: 70%;
  padding: 5% 0%;
  text-align: justify;
}
