.navbar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media screen and (max-width: 1030px) {
  .navbar {
    display: none;
  }
}

.navBtn {
  margin: 0 40px;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: 'MuseoSansCyrl', sans-serif;
}

.navBtn:hover,
.active {
  color: rgb(122, 122, 122);
  border-bottom: solid #53caff 2px;
  text-decoration: none;
}
