.container {
  width: 220px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.compInfo {
  display: flex;
  flex-direction: column;
  height: 300px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.compInfoText {
  margin: auto;
  text-align: center;
}
.compName {
  color: #0094df;
  font-family: fantasy;
}
.vacCount {
  color: #abb2ba;
}

.compImg {
  width: 100%;
}
