.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height:70px;
  background-color: #111111;
  color: white;
  border-top: solid #535353a6 1.8px;
  margin-top:auto;
}

.container {
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: white;
  font-size: 1em;
  font-family: 'MuseoSansCyrl', sans-serif;
}

.medias {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.medias img:hover {
  cursor: pointer;
  opacity: 0.5;
}