.mainContainer {
  display: flex;
  justify-content: center;

  padding-top: 40px;
}
.empForm {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: auto;
  grid-template-areas:
    "photo about"
    "photo about"
    "photo about";
}

.proImg {
  grid-area: photo;
}
.proInfo {
  grid-area: about;
  padding: 25px;
}

.proImg img {
  width: 80%;
  margin: 10% 0% 30% 10%;
  border-radius: 60%;
}

.fullName {
  color: black;
  font-size: 1.6em;
  font-weight: 700;
  font-family: 'MuseoSansCyrl', sans-serif;
}

.profession {
  color: #0062cc;
  font-size: 1em;
}

.about {
  display: grid;
  margin-top: 60px;
  grid-template-columns: 1fr 1fr;
}

.var {
  font-size: 1.1em;
  font-weight: 600;
  font-family: 'MuseoSansCyrl', sans-serif;
  float: left;
}

.val {
  color: #0062cc;
  font-size: 1.1em;
  font-weight: 600;
  font-family: 'MuseoSansCyrl', sans-serif;
}

.var div, .val div {
  margin-bottom: 5px;
}

.logout {
  text-align: center;
  margin-left: 77%;
  width: 8%;
  height: 50%;
}
